<launch>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
<include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>




<node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>



  <include file="$(find turtlebot_navigation)/launch/includes/gmapping.launch.xml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>



</launch>
